@charset "UTF-8";

body{
	background-color: #FFFFFF;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}
h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 30pt;
	color: darkblue;

}

p{
	font-family: 'Quicksand', sans-serif;
    color: #BBBBBB;
    font-size: 10pt;
    transition: color 0.3s;
    text-align: center;
}

header/*#cabecalho*/{
	text-align: left;
	background: url("imagens/logo-ex-7.png") no-repeat;
}

/*nav#log ul{
list-style: none;
 text-align: center;
/*position: absolute;
}*/

ul{
list-style: none;
}

nav#log{
	display: block;
}

.botaoBonito{
background-color:#1a1aff;
	transition: background-color 0.5s;
	padding: 8px;
	color: white;
	font-family: 'Quicksand', sans-serif;
	/*font-weight: bold;*/
	border: none;
	cursor: pointer;
	text-decoration: none;
	justify-content: center;
}

.botaoBonito:hover{
	background-color:white; 
	color:#1a1aff;
	text-decoration: none;
}

a#aprender{
background-color:#00b300;
	transition: background-color 0.5s;
	padding: 8px;
	color: white;
	font-family: 'Quicksand', sans-serif;
	/*font-weight: bold;*/
	border: none;
	cursor: pointer;
	text-decoration: none;
	width: 100px;
	height: 40px;
}	


a#exercitar{
background-color: #ffff00;
	transition: background-color 0.5s;
	padding: 8px;
	color: white;
	font-family: 'Quicksand', sans-serif, bold;
	/*font-weight: bold;*/
	border: none;
	cursor: pointer;
	text-decoration: none;
	width: 100px;
	height: 40px;
}



a#aprender:hover{
background-color:white; 
	color:#00b300;
}

a#exercitar:hover{
background-color:white; 
	color: #ffff00;
	
}



/*nav#log li{
	background-color:#1a1aff;
	transition: background-color 0.5s;
	padding: 8px;
	margin: 13px 17px 13px 17px;
	 text-align: center;
}
nav#log li:hover {
	background-color:white; 
	 text-align: center;
}
nav#log a{
	text-decoration-line: none;
	color:#ffffff;
	transition: color 0.5s;
}

nav#log a:hover{
	color:#1a1aff;
}

nav#log p:hover{
	color: #777777; 
}*/

a#esqueci{
	text-decoration-line: none;
	color: #BBBBBB;
    font-size: 10pt;
    transition: color 0.3s;	
    text-align: center;
}

a#esqueci:hover{
	color: #777777;
}

nav#cad a{
	padding: 8px;
	background-color:#1aff1a;
	 text-align: center;
}

.tituloBonito{
	font-family: 'Quicksand', sans-serif;
	font-size: 30pt;
	color: darkblue;
}